### Creating and Persisting an ML Model

In [1]:
import pandas as pd
import numpy as np
import os

parent = os.path.dirname(os.getcwd())
d_path = os.path.join(parent,"fall-22-hw4-team-boba/data")

# First, clean the given dataset and save into a new csv file used for training the model.
data_path = os.path.join(d_path,"student-mat.csv")
cleaned_path = os.path.join(d_path,"cleaned-student.csv")

# cleans the data and prepares it for input to ML
data = pd.read_csv(data_path, dtype={'school': str, 'sex': str, 'age': pd.np.float64, 'address': str, 'famsize': str, 'Pstatus': str, 'Medu': pd.np.float64, 'Fedu': pd.np.float64, 'Mjob': str, 'Fjob': str, 'reason': str, 'guardian': str, 'traveltime': pd.np.float64, 'studytime': pd.np.float64, 'failures': pd.np.float64, 'schoolsup': str, 'famsup': str, 'paid': str, 'activities': str, 'nursery': str, 'higher': str, 'internet': str, 'romantic': str, 'famrel': str, 'freetime': pd.np.float64, 'goout': pd.np.float64, 'Dalc': pd.np.float64, 'Walc': pd.np.float64, 'health': pd.np.float64, 'absences': pd.np.float64, 'G1': pd.np.float64, 'G2': pd.np.float64, 'G3': pd.np.float64}, sep=';')

# delete any duplicate rows in-place
data.drop_duplicates(subset=None, inplace=True)

# fill in any null values found in the dataset to the mean value of each column
cands = ['G1','G2','absences','studytime','failures']
for i in cands:
    data[i].fillna(np.around(data[i].mean(), decimals=2), inplace=True)

data.to_csv(cleaned_path, index=False, sep=';')

/var/folders/3q/1542t9dj0clfv7744pgwybwc0000gn/T/ipykernel_9833/3003218723.py:13: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  data = pd.read_csv(data_path, dtype={'school': str, 'sex': str, 'age': pd.np.float64, 'address': str, 'famsize': str, 'Pstatus': str, 'Medu': pd.np.float64, 'Fedu': pd.np.float64, 'Mjob': str, 'Fjob': str, 'reason': str, 'guardian': str, 'traveltime': pd.np.float64, 'studytime': pd.np.float64, 'failures': pd.np.float64, 'schoolsup': str, 'famsup': str, 'paid': str, 'activities': str, 'nursery': str, 'higher': str, 'internet': str, 'romantic': str, 'famrel': str, 'freetime': pd.np.float64, 'goout': pd.np.float64, 'Dalc': pd.np.float64, 'Walc': pd.np.float64, 'health': pd.np.float64, 'absences': pd.np.float64, 'G1': pd.np.float64, 'G2': pd.np.float64, 'G3': pd.np.float64}, sep=';')

In [2]:
df = pd.read_csv('data/cleaned-student.csv', sep=';')

Summary of the data

In [3]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [4]:
df.info

<bound method DataFrame.info of     school sex   age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  18.0       U     GT3       A   4.0   4.0   at_home   teacher
1       GP   F  17.0       U     GT3       T   1.0   1.0   at_home     other
2       GP   F  15.0       U     LE3       T   1.0   1.0   at_home     other
3       GP   F  15.0       U     GT3       T   4.0   2.0    health  services
4       GP   F  16.0       U     GT3       T   3.0   3.0     other     other
..     ...  ..   ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  20.0       U     LE3       A   2.0   2.0  services  services
391     MS   M  17.0       U     LE3       T   3.0   1.0  services  services
392     MS   M  21.0       R     GT3       T   1.0   1.0     other     other
393     MS   M  18.0       R     LE3       T   3.0   2.0  services     other
394     MS   M  19.0       U     LE3       T   1.0   1.0     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences    G1    G2    G3
0    ...      4      3.0    4.0   1.0   1.0    3.0      6.0   5.0   6.0   6.0
1    ...      5      3.0    3.0   1.0   1.0    3.0      4.0   5.0   5.0   6.0
2    ...      4      3.0    2.0   2.0   3.0    3.0     10.0   7.0   8.0  10.0
3    ...      3      2.0    2.0   1.0   1.0    5.0      2.0  15.0  14.0  15.0
4    ...      4      3.0    2.0   1.0   2.0    5.0      4.0   6.0  10.0  10.0
..   ...    ...      ...    ...   ...   ...    ...      ...   ...   ...   ...
390  ...      5      5.0    4.0   4.0   5.0    4.0     11.0   9.0   9.0   9.0
391  ...      2      4.0    5.0   3.0   4.0    2.0      3.0  14.0  16.0  16.0
392  ...      5      5.0    3.0   3.0   3.0    3.0      3.0  10.0   8.0   7.0
393  ...      4      4.0    1.0   3.0   4.0    5.0      0.0  11.0  12.0  10.0
394  ...      3      2.0    3.0   3.0   3.0    5.0      5.0   8.0   9.0   9.0

[395 rows x 33 columns]>

Create a subset of features as an example.

In [5]:
include = ['G1', 'G2', 'absences','studytime','failures', 'G3']
df.drop(columns=df.columns.difference(include), inplace=True)  # only using 3 features

In [6]:
df.info

<bound method DataFrame.info of      studytime  failures  absences    G1    G2    G3
0          2.0       0.0       6.0   5.0   6.0   6.0
1          2.0       0.0       4.0   5.0   5.0   6.0
2          2.0       3.0      10.0   7.0   8.0  10.0
3          3.0       0.0       2.0  15.0  14.0  15.0
4          2.0       0.0       4.0   6.0  10.0  10.0
..         ...       ...       ...   ...   ...   ...
390        2.0       2.0      11.0   9.0   9.0   9.0
391        1.0       0.0       3.0  14.0  16.0  16.0
392        1.0       3.0       3.0  10.0   8.0   7.0
393        1.0       0.0       0.0  11.0  12.0  10.0
394        1.0       0.0       5.0   8.0   9.0   9.0

[395 rows x 6 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Because we are trying to find quality students, in this model we define a quality student as one who achieves a final grade of 15 or higher.

In [7]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)

In [8]:
df.describe()

,studytime,failures,absences,G1,G2,G3,qual_student
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,2.035443,0.334177,5.708861,10.908861,10.713924,10.415190,0.184810
std,0.839240,0.743651,8.003096,3.319195,3.761505,4.581443,0.388636
min,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,8.000000,9.000000,8.000000,0.000000
50%,2.000000,0.000000,4.000000,11.000000,11.000000,11.000000,0.000000
75%,2.000000,0.000000,8.000000,13.000000,13.000000,14.000000,0.000000
max,4.000000,3.000000,75.000000,19.000000,19.000000,20.000000,1.000000

Drop the G3 score.

In [9]:
include = ['G1', 'G2', 'absences','studytime','failures', 'qual_student']
df.drop(columns=df.columns.difference(include), inplace=True) 
df.head()

   studytime  failures  absences    G1    G2  qual_student
0        2.0       0.0       6.0   5.0   6.0             0
1        2.0       0.0       4.0   5.0   5.0             0
2        2.0       3.0      10.0   7.0   8.0             0
3        3.0       0.0       2.0  15.0  14.0             1
4        2.0       0.0       4.0   6.0  10.0             0

Separate the columns into dependent and independent variables. Then, split those variables into a training and test set.

In [10]:
from sklearn.model_selection import train_test_split

X=df[['G1', 'G2', 'absences', 'studytime', 'failures']]  # Features
y=df['qual_student'] 

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

Train the model on the training set and perform predictions on the test set.

In [11]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn

dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]

# Create a Gaussian Classifier
clf = rf(n_estimators = 1000)

# Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train, y_train)

y_pred=clf.predict(X_test)

Model Analysis: Check the accuracy using actual and predicted values.

In [12]:
from sklearn import metrics

print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print("F1 Score:", sklearn.metrics.f1_score(y, clf.predict(x), average='binary'))

Accuracy: 0.9831932773109243
F1 Score: 0.9577464788732394

/Users/sunnyliang/miniconda3/lib/python3.8/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

Export this model to be used as a microservice (Flask API)

In [13]:
import joblib

# Modify the file path to where you want to save the model
joblib.dump(clf, 'app/handlers/model.pkl')

['app/handlers/model.pkl']

### Analyzing ML Model Predictions using LIME

In [14]:
import lime
import lime.lime_tabular

# Create the Explainer
predict_fn_rf = lambda x: random_forest.predict_proba(x).astype(float)
X = X_train.values
explainer = lime.lime_tabular.LimeTabularExplainer(X,feature_names = X_train.columns,class_names=['Will Die','Will Survive'],kernel_width=5)

# Use the Explainer to explain predictions